{% extends 'base.html' %}
{% load static %}
{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}


<div class="container-wrapper">
    <div class="page-bg" style=" background-image: url({% static 'upload/bg-pizza.jpg' %}); "></div>
    <div id="container">
        <!-- start container -->
        <div class="page-title-wrapper">
            <div class="page-title-outher">
                <div class="page-title-inner">
                    <span class="page-title-icon flaticon-pizza-slice"></span>
                    <h1 class="page-title">Menu</h1>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="page-wrapper">
            <div class="offer-menu-wrapper">
                <ul id="filters" class="single-offer-category-filter option-set" data-option-key="filter">
                    <li class="filter-cat"><a class="selected" href="#filter" data-option-value=".cat1">Pizza</a></li>
                    <li class="filter-cat"><a href="#filter" data-option-value=".cat2">Pizza Slice</a></li>
                    <li class="filter-cat"><a href="#filter" data-option-value=".cat3">Pizza Rolls</a></li>
                    <li class="filter-cat"><a href="#filter" data-option-value=".cat4">Box</a></li>
                    <li class="filter-cat"><a href="#filter" data-option-value=".cat5">Topings</a></li>
                </ul>

                <div class="offer-menu-items">
                    <div class="single-offer-category-item isotope-item cat1">
                        {% for pizza in pizzas %}
                        <div class="single-offer-item">
                            <div class="single-offer-details">
                                <div class="single-offer-title">{{ pizza.title }}</div>
                                <div class="single-offer-content">
                                    <p>{{ pizza.content }}</p>
                                </div>
                            </div>
                            <div class="single-offer-price">${{ pizza.price }}</div>
                            <div class="clear"></div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="single-offer-category-item isotope-item cat2">
                        {% for pizza_slice in slices %}
                        <div class="single-offer-item">
                            <div class="single-offer-details">
                                <div class="single-offer-title">{{ pizza_slice.title }}</div>
                                <div class="single-offer-content">
                                    <p>{{ pizza_slice.content }}</p>
                                </div>
                            </div>
                            <div class="single-offer-price">${{ pizza_slice.price }}</div>
                            <div class="clear"></div>
                        </div>
                        {% endfor %}

                    </div>
                    <div class="single-offer-category-item isotope-item cat3">
                        {% for pizza_roll in rolls %}
                        <div class="single-offer-item">
                            <div class="single-offer-details">
                                <div class="single-offer-title">{{ pizza_roll.title }}</div>
                                <div class="single-offer-content">
                                    <p>{{ pizza_roll.content }}</p>
                                </div>
                            </div>
                            <div class="single-offer-price">${{ pizza_roll.price }}</div>
                            <div class="clear"></div>
                        </div>
                        {% endfor %}

                    </div>
                    <div class="single-offer-category-item isotope-item cat4">
                        {% for box in boxes %}
                        <div class="single-offer-item">
                            <div class="single-offer-details">
                                <div class="single-offer-title">{{ box.title }}</div>
                                <div class="single-offer-content">
                                    <p>{{ box.content }}</p>
                                </div>
                            </div>
                            <div class="single-offer-price">${{ box.price }}</div>
                            <div class="clear"></div>
                        </div>
                        {% endfor %}

                    </div>
                    <div class="single-offer-category-item isotope-item cat5">
                        {% for toping in topings %}
                        <div class="single-offer-item">
                            <div class="single-offer-details">
                                <div class="single-offer-title">{{ toping.title }}</div>
                                <div class="single-offer-content">
                                    <p>{{ toping.content }}</p>
                                </div>
                            </div>
                            <div class="single-offer-price">${{ toping.price }}</div>
                            <div class="clear"></div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- end page wrapper -->
    </div>
    <!-- end container -->
    <div class="clear"></div>
</div>
<!-- end container-wrapper -->


{% endblock %}